<div class="m-0 vh-100 row justify-content-center align-items-center text-center">
    <div class="col-auto bg-white shadow rounded">
        <!--!: CONTENT -->
        <!--* LOGO CONTAINER-->
        <shared-image [source]="'./assets/images/LOGO-SAFE.png'"
            class="d-flex align-items-center justify-content-center py-2"></shared-image>
        <div class="px-2">
            <!--? Labels Form-->
            <p class="fs-5 text text-secondary text-center pb-1">Establecer contraseña</p>
            <p class="fs-6 text text-secondary text-center pb-1">{{lblFormText}}</p>
        </div>
        <hr class="border-2">
        <!--* Form Section-->
        <form [formGroup]="nFormGroup" (ngSubmit)="onSubmit(nFormGroup.value)">
            <div class="w-75 mx-auto">
                <shared-input
                    [label]="'Contraseña nueva'"
                    [type]="'password'"
                    [id]="'new_password'"
                    [required]="true"
                    [specialInput]="'inputPassword'"
                    [messageError]="messageError"
                    [formSubmitted]="formSubmitted"
                    [control]="$any(nFormGroup.get('new_password'))">
                </shared-input>
            </div>
            <div class="w-75 mx-auto mb-3">
                <shared-input
                    [label]="'Repetir contraseña nueva'"
                    [type]="'password'"
                    [id]="'repeat_password'"
                    [required]="true"
                    [specialInput]="'inputPassword'"
                    [messageError]="messageError"
                    [formSubmitted]="formSubmitted"
                    [control]="$any(nFormGroup.get('repeat_password'))">
                </shared-input>
            </div>
            <!--? Mensajes de error-->
            <!-- @if (messageError !== "") {
                <div
                    class="p-1 text-center text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                    
                    Ingrese su nueva contraseña
                </div>
            }
            @else {
                <div class="p-1 bg-white text-white ">|</div>
            } -->
            <!--? Input: Boton-->
            <div class="input-group my-3">
                <input type="submit" id="btnChange" class="form-control btn btn-primary" value="Ingresar" [disabled]="nFormGroup.invalid">
            </div>
        </form>
    </div>
</div>
