<!--! Text modal execution-->
<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">¿Olvidó contraseña?</a>

<!--! Modal-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalText" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!--? Modal Title-->
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="forgotPasswordModalText">Restablecer contraseña</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--? Modal Body-->
            <div class="modal-body">
                <form [formGroup]="mFormGroup" (ngSubmit)="onSubmit(mFormGroup.value)">
                    <!--* Input Email-->
                    <div class="row">
                        <shared-input
                            [label]="'Correo Electronico'"
                            [type]="'email'"
                            [required]="true"
                            [id]="'usr_email'"
                            [messageError]="messageError"
                            [control]="$any(mFormGroup.get('usr_email'))">
                        </shared-input>
                    </div>
                    <!--* Input Document-->
                    <div class="row mb-2">
                        <div class="col-4 h-100">
                            <button class="btn btn-outline-secondary dropdown-toggle h-100 py-3 text-start align-text-bottom border border-1 "  data-bs-toggle="dropdown" aria-expanded="false">{{documentSeleted}}</button>
                            <ul class="dropdown-menu">
                                @for (document of documentList; track documentList){
                                    <li><a class="dropdown-item" href="#" (click)="onSelected(document)">{{document}}</a></li>
                                }
                            </ul>
                        </div>
                        @if (documentSeleted == "DUI") {
                            <shared-input
                            class="col-7 p-0"
                                [label]="'DUI'"
                                [type]="'text'"
                                [required]="false"
                                [id]="'documentDUI'"
                                [messageError]="messageError"
                                [control]="$any(mFormGroup.get('documentDUI'))">
                            </shared-input>
                        }
                        @else if (documentSeleted == "NIT") {
                            <shared-input
                                class="col-7 p-0"
                                [label]="'NIT'"
                                [type]="'text'"
                                [required]="false"
                                [id]="'documentDUI'"
                                [messageError]="messageError"
                                [control]="$any(mFormGroup.get('documentDUI'))">
                            </shared-input>
                        }
                        @else {
                            <div class="col-7 p-0">
                                <div class="input-group mb-2">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="documentInput" disabled>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!--* Input Button-->
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary w-50" value="Restablecer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
