<!--* Text modal execution-->
<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">¿Olvidó contraseña?</a>

<!--* Modal-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalText" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!--? Modal Title-->
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="forgotPasswordModalText">Restablecer contraseña</h2>
            </div>
            <!--? Modal Body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <label class="form-label col-5 pt-1">Email:</label>
                        <input class="form-control w-50 col-7" type="text" placeholder="" required>
                    </div>
                    <div class="row">
                        <label class="form-label col-5 pt-1">Documento:</label>
                        <div class="col-7 input-group mb-3">
                            <button class="bn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{documentList[0]}}</button>
                            <ul *ngFor="let document of documentList" class="dropdown-menu">
                                <li><a></a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
