<!--* Text modal execution-->
<a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">¿Olvidó contraseña?</a>

<!--* Modal-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalText" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!--? Modal Title-->
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="forgotPasswordModalText">Restablecer contraseña</h2>
            </div>
            <!--? Modal Body-->
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()">
                    <!--* Input Email-->
                    <div class="row pl-3 mb-3">
                        <label class="form-label col-5 pt-1" for="emailInput">Email:</label>
                        <input class="form-control w-50 col-7" type="email" pattern="[^ @]*@[^ @]*" placeholder="" id="emailInput" required>
                    </div>
                    <!--* Input Document-->
                    <div class="row mb-3">
                        <label class="form-label col-5 pt-1" for="documentInput">Documento:</label>
                        <div class="col-7 input-group mb-3 w-50">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{documentSeleted}}</button>
                            <ul class="dropdown-menu">
                                @for (document of documentList; track documentList){
                                    <li><a class="dropdown-item" href="#" (click)="onSelected(document)">{{document}}</a></li>
                                }
                            </ul>
                            @if (documentSeleted == "DUI") {
                                <input type="text" class="form-control" aria-label="" placeholder="XXXXXXXX-X" id="documentInput">
                            }
                            @else if (documentSeleted == "NIT") {
                                <input type="text" class="form-control" aria-label="" placeholder="XXXX-XXXXXX-XXX-X" id="documentInput">
                            }
                            @else {
                                <input type="text" class="form-control" aria-label="" id="documentInput" disabled>
                            }
                        </div>
                    </div>
                    <!--* Input Button-->
                    <div class="d-flex justify-content-center ">
                        <input type="submit" class="btn btn-primary w-25" value="Restablecer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
