<div class="m-0 vh-100 row justify-content-center align-items-center text-center">
    <div class="col-auto bg-white shadow rounded">
        <!--!: CONTENT -->
        <!--* LOGO CONTAINER-->
        <shared-image [source]="'./assets/images/LOGO-SAFE.png'"
            class="d-flex align-items-center justify-content-center py-2"></shared-image>
        <div class="px-2">
            <!--? Labels Form-->
            <p class="fs-5 text text-secondary text-center pb-1">Establecer contraseña</p>
            <p class="fs-6 text text-secondary text-center pb-1">{{lblFormText}}</p>
        </div>
        <hr class="border-2">
        <!--* Form Section-->
        <form [formGroup]="fFormGroup">
            <shared-input [placeholder]="'Hola'" [id]="'hola1'"></shared-input>
            <shared-input [placeholder]="'Hola2'" [id]="'hola2'"></shared-input>
        </form>
    </div>
</div>