<div class="container">
    <div class="row mx-4 my-5 shadow bg-white rounded w-100 h-100 ">
        <div class="col-5">
            <!--TODO: LEFT MENU-->
            <div>
                <!--* IMAGE -->
                <img>
            </div>
            <div>
                <!--* FORM-->
                <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()">
                    <p class="fs-5 text text-secondary text-center">Ingrese a su cuenta</p>
                    <!--? Input: Usuario-->
                    <shared-input
                        [type]="'text'" 
                        [formControl]="getUsername()"
                        [placeholder]="'Usuario'"
                        [id]="'floatingInputUser'">
                    </shared-input>
                    <!--? Input: Contraseña-->
                    <shared-input 
                        [type]="'password'"
                        [formControl]="getPassword()"
                        [placeholder]="'Contraseña'"
                        [id]="'floatingInputPassword'">
                    </shared-input>
                    <!--? Input: Recaptcha-->
                    <div class="d-flex align-items-center justify-content-center ">
                        <ngx-recaptcha2 [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
                    </div>
                    <!--? Olvido contraseña-->
                    <div class="text-center my-3">
                        <shared-modal></shared-modal>
                    </div>
                    <!--? Mensajes de error-->
                    @if (inputError !== "") {
                        <div class="p-3 text-center text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                            {{inputError}}
                        </div>
                    }
                    <!--? Input: Boton-->
                    <div class="input-group my-3">
                        <input type="submit" class="form-control" value="Ingresar">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-7 bg-body-secondary ">
            <!--TODO: RIGHT MENU-->
        </div>
    </div>
</div>