<!--* Input Group template-->
<div class="mb-3">
    <div class="input-group">
        <div class="form-floating">
            <!--! INPUT ELEMENT-->
            <input 
                class="form-control" 
                [id]="id" 
                [formControl]="control" 
                [type]="type" 
                placeholder 
                [required]="required"
                [readOnly]="readOnly"
                [ngClass]="{'border-danger-subtle border-2': messageError != '' && formSubmitted}">
            <!--! FLOATING PLACEHOLDER ELEMENT-->
            <label [for]="id">{{label}}</label>
        </div>
        <!--! EYE ICON ELEMENT (password)-->
        @if (specialInput === 'inputPassword' && type === 'password') {
            <!-- ? Icono (ojo tachado) cuando la contraseña esta oculta -->
            <div class="btn bg-light px-2 py-2 border border-1" (click)="changeType()">
            <i class="bi bi-eye-slash text-black " style="font-size: 1.5em; color: #007bff;"></i>
            </div>
        }
        @else if (specialInput === 'inputPassword' && type === 'text') {
            <!-- ? Icono (ojo completo) cuando la contraseña esta visible -->
            <div class="btn bg-light px-2 py-2 border border-1" (click)="changeType()">
                <i class="bi bi-eye-fill text-black" style="font-size: 1.5em; color: #007bff;"></i>
            </div>
        }
    </div>
    <!--! CAMPOS VALIDACION DE USUARIOS-->
    <ng-container>
        @if (messageError != "" && formSubmitted) {
        <div class="p-1 text-center text-danger-emphasis bg-danger-subtle border border-danger-subtle">
            {{messageError}}
        </div>
        }
    </ng-container>
</div>




